:root {
  --font-size-normal: 1rem;
  --font-size-grande: 1.5rem;
  --header-height: 4rem;
  --color-principal: #1e1629;
  --color-secundario: #170f24;
  --color-terciario: #8C1858;
  --color-blanco: #f5f5f5e5;
  --color-hover: #F21D56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  background-color: var(--color-secundario);
  color: var(--color-blanco);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.acento {
  font-weight: 400;
  color: rgba(245, 245, 245, 0.7960784314);
  text-shadow: 0px 0px 10px #F21D56;
}

button {
  padding: 7px;
}
button:hover {
  cursor: pointer;
}

.navBar {
  display: grid;
  position: fixed;
  grid-template-columns: repeat(12, 1fr);
  background-color: transparent;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}
.navBar .logo {
  height: 20px;
  margin-left: 15px;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  transition: all 0.5s;
  opacity: 90%;
}
.navBar .logo:hover {
  transform: translate(20px);
}
.navBar .menu {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navBar .menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 5px 10px;
}
.navBar .menu ul li a {
  text-decoration: none;
  color: var(--color-blanco);
  transition: all 0.5s;
}
.navBar .menu ul li a:hover {
  text-shadow: 0px 0px 20px white;
}

#bg {
  height: calc(var(--header-height) + 10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#bg .titulo {
  text-align: center;
}

#products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#products .product {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-principal);
  box-shadow: 0px 0px 10px var(--color-terciario);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
#products .product .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
#products .product .productPic {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--color-terciario);
  opacity: 85%;
}
#products .product .productPic:hover {
  cursor: pointer;
}
#products .product .price {
  margin-top: 5px;
  font-weight: 300;
}
#products .product .platform {
  font-weight: 300;
}
#products .product .addProduct {
  border: none;
  color: var(--color-blanco);
  background-color: rgba(140, 24, 88, 0.5333333333);
  border: 2px solid var(--color-terciario);
  margin-top: 5px;
  transition: all 0.5s;
  border-radius: 5px;
}
#products .product .addProduct:hover {
  background-color: rgba(242, 29, 86, 0.5058823529);
  border: 2px solid var(--color-hover);
}

#carrito {
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#carrito .contenedorCarrito {
  background-color: var(--color-principal);
  margin-top: 10px;
  margin-right: 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--color-terciario);
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: 7/-1;
}
#carrito .contenedorCarrito .btnEnd {
  border: none;
  color: var(--color-blanco);
  background-color: rgba(140, 24, 88, 0.5333333333);
  border: 2px solid var(--color-terciario);
  margin-top: 5px;
  transition: all 0.5s;
  border-radius: 5px;
}
#carrito .contenedorCarrito .btnEnd:hover {
  background-color: rgba(242, 29, 86, 0.5058823529);
  border: 2px solid var(--color-hover);
}

footer {
  height: 5vh;
}

/* MEDIA QUERIES */
@media screen and (min-width: 700px) {
  .navBar .menu {
    grid-column: 6/12;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #products {
    grid-template-rows: repeat(7, 1fr);
  }
  #products .product:first-child {
    grid-column: 1;
  }
  #products .product:nth-child(2) {
    grid-column: 2;
  }
  #products .product:nth-child(3) {
    grid-column: 1;
  }
  #products .product:nth-child(4) {
    grid-column: 2;
  }
  #products .product:nth-child(5) {
    grid-column: 1;
  }
  #products .product:nth-child(5) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(6) {
    grid-column: 2;
  }
  #products .product:nth-child(7) {
    grid-column: 1;
  }
  #products .product:nth-child(8) {
    grid-column: 2;
  }
  #products .product:nth-child(8) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(9) {
    grid-column: 1;
  }
  #products .product:nth-child(10) {
    grid-column: 2;
  }
  #products .product:nth-child(11) {
    grid-column: 1;
  }
  #products .product:nth-child(12) {
    grid-column: 2;
  }
  #products .product:nth-child(12) .title {
    font-size: 1.2rem;
  }
  #products .product:nth-child(13) {
    grid-column: 1;
  }
  #products .product:nth-child(14) {
    grid-column: 2;
  }
  #products .product:nth-child(14) .title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 980px) {
  .navBar .menu {
    grid-column: 9/-1;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #products {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  #products .product:first-child {
    grid-column: 1;
  }
  #products .product:nth-child(2) {
    grid-column: 2;
  }
  #products .product:nth-child(3) {
    grid-column: 3;
  }
  #products .product:nth-child(4) {
    grid-column: 1;
  }
  #products .product:nth-child(5) {
    grid-column: 2;
  }
  #products .product:nth-child(5) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(6) {
    grid-column: 3;
  }
  #products .product:nth-child(7) {
    grid-column: 1;
  }
  #products .product:nth-child(8) {
    grid-column: 2;
  }
  #products .product:nth-child(8) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(9) {
    grid-column: 3;
  }
  #products .product:nth-child(10) {
    grid-column: 1;
  }
  #products .product:nth-child(11) {
    grid-column: 2;
  }
  #products .product:nth-child(12) {
    grid-column: 3;
  }
  #products .product:nth-child(12) .title {
    font-size: 1.2rem;
  }
  #products .product:nth-child(13) {
    grid-column: 1;
  }
  #products .product:nth-child(14) {
    grid-column: 2;
  }
  #products .product:nth-child(14) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(15) {
    grid-column: 3;
  }
}

/*# sourceMappingURL=styles.css.map */
