@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
:root {
  --font-size-normal: 1rem;
  --font-size-grande: 1.5rem;
  --header-height: 4rem;
  --color-principal:#111111 ;
  --color-secundario: #131313;
  --color-terciario: #e4e4e446;
  --color-blanco: #f5f5f5e5;
  --color-hover: #F21D56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
}
.loader .textShadow {
  text-shadow: 0px 0px 20px rgba(113, 191, 196, 0.8156862745);
  transition: all 0.8s;
}

input {
  max-width: 190px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  caret-color: #3f3f3f;
  background-color: rgba(255, 255, 255, 0.0666666667);
  padding: 5px;
  color: var(--color-blanco);
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
}
input:focus {
  caret-color: #fa4753;
  color: #fa4753;
  box-shadow: 4px 4px 10px #070707;
}
input:focus::placeholder {
  color: #fa4753;
}

body {
  font-family: "Play", sans-serif;
  background-color: var(--color-secundario);
  color: var(--color-blanco);
}
body::-webkit-scrollbar {
  background-color: #111111;
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(124, 124, 124, 0.185);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

#sign-up, .log-out {
  transition: all 0.5s;
}
#sign-up:hover, .log-out:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px var(--color-blanco);
}

.acento {
  font-weight: 400;
  color: rgba(245, 245, 245, 0.7960784314);
  text-shadow: 0px 0px 10px rgba(113, 191, 196, 0.8156862745);
}

.error {
  color: #fc2c2c;
}

button {
  margin-top: 10px;
  padding: 0.8em 1.8em;
  border: 2px solid var(--color-terciario);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: var(--color-blanco);
}
button:hover {
  text-shadow: 0px 0px 10px var(--color-blanco);
  box-shadow: 0px 0px 1px black inset;
  cursor: pointer;
}

.navBar {
  display: grid;
  position: fixed;
  grid-template-columns: repeat(12, 1fr);
  background-color: transparent;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  transition: all 0.5s;
}
.navBar .username {
  font-size: 1.2em;
}
.navBar .back {
  margin-left: 10px;
  color: var(--color-blanco);
  transition: all 0.5s;
}
.navBar .back:hover {
  text-shadow: 0px 0px 20px var(--color-blanco);
}
.navBar .logo {
  height: 40px;
  margin-left: 15px;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  transition: all 0.5s;
}
.navBar .logo:hover {
  transform: translate(20px);
}
.navBar .bienvenida {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar .bienvenida p {
  font-weight: 300;
}
.navBar .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 8;
  margin-left: 20px;
}
.navBar .menu {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navBar .menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 5px 10px;
}
.navBar .menu ul li a {
  text-decoration: none;
  color: var(--color-blanco);
  transition: all 0.5s;
}
.navBar .menu ul li a:hover {
  text-shadow: 0px 0px 20px white;
}

.abajo {
  background-color: rgba(12, 12, 12, 0.8470588235);
  box-shadow: 0px 0px 15px var(--color-terciario);
  height: 4.5rem;
  backdrop-filter: blur(4px);
}

.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/banner.png");
  height: calc(var(--header-height) + 90vh);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0.1;
}
.parallax .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-blanco);
  font-size: 1.5em;
  font-weight: 300;
}
.parallax .info .titulo {
  font-size: 3rem;
}
.parallax .info .button--parallax {
  margin-top: 10px;
}

.sCart {
  color: white;
  margin-top: 5px;
  font-size: 1rem;
  transition: text-shadow 0.5s;
}
.sCart:hover {
  text-shadow: 0px 0px 20px white;
}

#products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--color-principal);
}
#products .product {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-principal);
  box-shadow: 0px 0px 10px black;
  margin: 10px;
  padding: 10px 0px;
  border-radius: 2px;
}
#products .product .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
#products .product .productPic {
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 10px black;
  opacity: 85%;
  transition: all 0.5s;
  border-radius: 2px;
}
#products .product .productPic:hover {
  cursor: pointer;
}
#products .product .price {
  margin-top: 5px;
  font-weight: 300;
}
#products .product .platform {
  font-weight: 300;
}

#contenedor--carrito {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#contenedor--carrito a {
  transition: all 0.5s;
}
#contenedor--carrito a:hover {
  text-shadow: 0px 0px 20px rgba(113, 191, 196, 0.8156862745);
}
#contenedor--carrito #carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
}
#contenedor--carrito #carrito button {
  margin-bottom: 1px;
  width: 200px;
}
#contenedor--carrito #carrito-prods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.7725490196);
  padding: 10px;
}

.cartImg {
  width: 300px;
  height: 300px;
  text-shadow: 0px 0px 10px black;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #070707;
}

.prod-info {
  background-color: var(--color-principal);
  padding: 10px;
}

footer {
  height: 5vh;
}

.formulario {
  background-color: var(--color-principal);
  box-shadow: 0px 0px 10px black;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.formulario form {
  width: 500px;
  border-radius: 10px;
  background-color: rgba(7, 7, 7, 0.1529411765);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.formulario form input {
  margin: 10px;
  width: 100%;
}
.formulario form button {
  width: 42%;
}
.formulario .instructions {
  padding: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 700px) {
  .navBar .menu {
    grid-column: 6/12;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #products {
    grid-template-rows: repeat(7, 1fr);
  }
  #products .product:first-child {
    grid-column: 1;
  }
  #products .product:nth-child(2) {
    grid-column: 2;
  }
  #products .product:nth-child(3) {
    grid-column: 1;
  }
  #products .product:nth-child(4) {
    grid-column: 2;
  }
  #products .product:nth-child(5) {
    grid-column: 1;
  }
  #products .product:nth-child(5) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(6) {
    grid-column: 2;
  }
  #products .product:nth-child(7) {
    grid-column: 1;
  }
  #products .product:nth-child(8) {
    grid-column: 2;
  }
  #products .product:nth-child(8) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(9) {
    grid-column: 1;
  }
  #products .product:nth-child(10) {
    grid-column: 2;
  }
  #products .product:nth-child(11) {
    grid-column: 1;
  }
  #products .product:nth-child(12) {
    grid-column: 2;
  }
  #products .product:nth-child(12) .title {
    font-size: 1.2rem;
  }
  #products .product:nth-child(13) {
    grid-column: 1;
  }
  #products .product:nth-child(14) {
    grid-column: 2;
  }
  #products .product:nth-child(14) .title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 980px) {
  .navBar .menu {
    grid-column: 9/-1;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 0px;
  }
  #products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #products .product:first-child {
    grid-column: 1;
  }
  #products .product:nth-child(2) {
    grid-column: 2;
  }
  #products .product:nth-child(3) {
    grid-column: 3;
  }
  #products .product:nth-child(4) {
    grid-column: 4;
  }
  #products .product:nth-child(5) {
    grid-column: 1;
  }
  #products .product:nth-child(5) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(6) {
    grid-column: 2;
  }
  #products .product:nth-child(7) {
    grid-column: 3;
  }
  #products .product:nth-child(8) {
    grid-column: 4;
  }
  #products .product:nth-child(8) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(9) {
    grid-column: 1;
  }
  #products .product:nth-child(10) {
    grid-column: 2;
  }
  #products .product:nth-child(11) {
    grid-column: 3;
  }
  #products .product:nth-child(12) {
    grid-column: 4;
  }
  #products .product:nth-child(12) .title {
    font-size: 1.2rem;
  }
  #products .product:nth-child(13) {
    grid-column: 1;
  }
  #products .product:nth-child(14) {
    grid-column: 2;
  }
  #products .product:nth-child(14) .title {
    font-size: 1rem;
  }
  #products .product:nth-child(15) {
    grid-column: 3;
  }
  #products .product:nth-child(16) {
    grid-column: 4;
  }
}
.caja {
  position: absolute;
  height: 300px;
  width: 300px;
  margin: 100px;
  background-color: #ff0000;
}

.an {
  position: absolute;
  margin: 50px;
}

/*# sourceMappingURL=styles.css.map */
