:root{
    --font-size-normal: 1rem;
    --font-size-grande: 1.5rem;
    --header-height: 4rem;
    --color-principal:  #1e1629;
    --color-secundario: #170f24;
    --color-terciario: #8C1858;
    --color-blanco: #f5f5f5e5;
    --color-hover: #F21D56;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins';
    background-color: var(--color-secundario);
    color: var(--color-blanco);
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

.acento{
    font-weight: 400;
    color: #f5f5f5cb ;
    text-shadow: 0px 0px 10px #F21D56;
}

button{
    padding: 7px;

    &:hover{
        cursor: pointer;
    }
}

header{
    display: grid;
    position: fixed;
    grid-template-columns: repeat(12,1fr);
    background-color: var(--color-principal);
    box-shadow: 0px 0px 10px var(--color-terciario);
    width: 100%;
    height: var(--header-height);
    z-index: 100;

/*     .logo{
        height: 65px;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
        grid-column: 1;
        transition: all .5s;

        &:hover{
            transform:translate(20px);
        }
    } */

    .menu{
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        ul li{
            list-style: none;
            display: inline-block;
            margin:0px 5px 10px;

            a{
                text-decoration: none;
                color: var(--color-blanco);
                transition: all .5s;

                &:hover{
                    text-shadow: 0px 0px 20px white;
                }
            }
        }
    
    }
}

#hero{
    height: calc(var(--header-height) + 10px);
    background-color: rgba(128, 128, 128, 0);
}

#products{
    display: grid;
    grid-template-columns: repeat(12,1fr);

    .product{
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-principal);
        box-shadow: 0px 0px 10px var(--color-terciario);
        margin: 10px;
        padding: 15px;
        border-radius: 10px;

        .title{
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .productPic{
            width: 300px;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px var(--color-terciario);
            opacity: 85%;

            &:hover{
                cursor: pointer;
            }
        }

        .price{
            margin-top: 5px;
            font-weight: 300;
        }

        .platform{
            font-weight: 300;
        }

        .addProduct{
            border: none;
            color: var(--color-blanco);
            background-color: #8c185888;
            border: 2px solid var(--color-terciario);
            margin-top: 5px;
            transition: all .5s;
            border-radius: 5px;

            &:hover{
                background-color: #f21d5681;
                border:2px solid var(--color-hover);
            }
        }
    }
}